In [1]:
import pandas as pd
import statistics
import copy

In [2]:
coordinates = pd.read_excel('координаты скв1.xlsx')
coordinates.head()

,№ скважины,Координата X,Координата Y,Координата забоя Х (по траектории),Координата забоя Y (по траектории)
0,1003,560719,6776574,560689,6776622
1,101,555210,6775712,555163,6775427
2,1022Л,561504,6778331,561503,6778330
3,1028,554254,6783332,553976,6783576
4,1060,556124,6786642,555945,6787230

In [3]:
#вычисление длины ствола гс скважины
coordinates['Length'] = coordinates.apply(
    lambda x:((x['Координата забоя Х (по траектории)']-x['Координата X'])**(2)+
              (x['Координата забоя Y (по траектории)']-x['Координата Y'])**(2)) **(0.5)
    , axis=1)
coordinates['№ скважины'] = coordinates.apply(
    lambda x: 
    str(x['№ скважины']), axis=1)
coordinates
coordinates.head()

,№ скважины,Координата X,Координата Y,Координата забоя Х (по траектории),Координата забоя Y (по траектории),Length
0,1003,560719,6776574,560689,6776622,56.603887
1,101,555210,6775712,555163,6775427,288.849442
2,1022Л,561504,6778331,561503,6778330,1.414214
3,1028,554254,6783332,553976,6783576,369.891876
4,1060,556124,6786642,555945,6787230,614.642172

In [4]:
grp=pd.read_excel('фраклист1.xlsx',header=[1], index_col=[1])
grp.reset_index(drop=True)
grp.reset_index(inplace=True)
grp=grp.drop(['Unnamed: 0','Подрядчик','Комментарии','Страница','Unnamed: 6','Азимут'],axis=1)
grp=grp.drop(['V гель','V без под','V под','М бр','Гель','Конц','Расход','Эфф','Рпл Хорнер','Проппант','k','Ноб','Нэф','Рпл','Верх','Низ'],axis=1)
grp=grp.drop(['Xf','Hf','Wf','PIdsg','Скин-фактор','JD','FCD','М пр','Покр','План'],axis=1)
grp['Номер скважины'] = grp.apply(
    lambda x: 
    str(x['Номер скважины']), axis=1)
grp

    Номер скважины       Дата   Пласт  Наклон
0              974 2018-07-28  Б19-22    3.00
1              974 2012-06-15      Ю1    4.25
2              974 2007-01-06  Б19-22    2.00
3              827 2019-05-13   А1(3)   12.00
4              827 2015-05-31      Ю1   88.70
..             ...        ...     ...     ...
557            101 2015-04-21      Ю1   90.00
558            101 2015-04-20      Ю1   91.00
559            101 2006-02-06      А2    8.20
560           1003 2017-06-26  Б19-22    2.00
561           1003 2008-05-31   А1(3)    1.65

[562 rows x 4 columns]

In [5]:
#координаты скважин для нашего объекта 
my_wells=grp['Номер скважины'].tolist()
my_wells_no_repeat = [] 
for x in my_wells:
    if x not in my_wells_no_repeat:
        my_wells_no_repeat.append(x)
my_wells_no_repeat

['974',
 '827',
 '824',
 '822',
 '821',
 '597',
 '546',
 '5358',
 '5319',
 '5316',
 '5314',
 '5289',
 '5251',
 '5240',
 '5235',
 '5233',
 '5226',
 '5217',
 '5216',
 '5202',
 '5183',
 '5176',
 '5166',
 '5163',
 '5162',
 '5132',
 '5113',
 '5112',
 '5109',
 '5108',
 '5104Л',
 '5102',
 '5004',
 '5003',
 '5002Л',
 '4768',
 '4732',
 '4346',
 '407',
 '3794',
 '3788',
 '3786',
 '3784',
 '3782',
 '3575',
 '3568',
 '3567',
 '3566',
 '3564',
 '3563',
 '3562',
 '3561',
 '3544',
 '2774',
 '267',
 '235',
 '2296',
 '2222',
 '2220',
 '2214',
 '2136',
 '2134',
 '2133',
 '2131',
 '2130',
 '2012',
 '1978Л2',
 '1978',
 '1977',
 '1976',
 '1974',
 '1971',
 '1970',
 '1796',
 '1790',
 '1670',
 '1568',
 '1554',
 '1552',
 '1550',
 '1506',
 '1483',
 '1464',
 '1417',
 '1416',
 '1342',
 '1339',
 '1337',
 '1336',
 '1335',
 '1320',
 '1319',
 '1317',
 '1308',
 '1304Л2',
 '1302',
 '1293',
 '1292',
 '1290',
 '1288',
 '1287',
 '1285',
 '1283',
 '1279',
 '1278',
 '1277',
 '1271',
 '1270',
 '1267',
 '1256',
 '1255',
 '1241Л',
 '1240',
 '1235Л',
 '1221',
 '1218',
 '1217',
 '1211',
 '1198',
 '1191',
 '1190',
 '1189',
 '1185',
 '1183',
 '1182',
 '1180',
 '1165',
 '1159',
 '1157',
 '1150',
 '1138',
 '1119',
 '1060',
 '1028',
 '1022Л',
 '101',
 '1003']

In [6]:

coordinates=coordinates[
    coordinates['№ скважины'].isin(my_wells_no_repeat)].reset_index(drop=True)
coordinates

,№ скважины,Координата X,Координата Y,Координата забоя Х (по траектории),Координата забоя Y (по траектории),Length
0,1003,560719,6776574,560689,6776622,56.603887
1,101,555210,6775712,555163,6775427,288.849442
2,1022Л,561504,6778331,561503,6778330,1.414214
3,1028,554254,6783332,553976,6783576,369.891876
4,1060,556124,6786642,555945,6787230,614.642172
...,...,...,...,...,...,...
132,5358,559266,6770043,559902,6769901,651.659420
133,974,561941,6771177,561946,6771174,5.830952
134,5319,558016,6761269,558021,6761306,37.336309
135,5314,557602,6761104,557601,6761101,3.162278
136,5316,557406,6760617,557407,6760600,17.029386

In [7]:

coordinates=coordinates.drop(['Координата X','Координата Y','Координата забоя Х (по траектории)','Координата забоя Y (по траектории)'],axis=1)
new=coordinates['№ скважины'].tolist()
coordinates['Номер скважины']=new
coordinates=coordinates.drop(['№ скважины'],axis=1)

coordinates

         Length Номер скважины
0     56.603887           1003
1    288.849442            101
2      1.414214          1022Л
3    369.891876           1028
4    614.642172           1060
..          ...            ...
132  651.659420           5358
133    5.830952            974
134   37.336309           5319
135    3.162278           5314
136   17.029386           5316

[137 rows x 2 columns]

In [8]:
final = grp.merge(coordinates, on='Номер скважины')
final['Длиина ГС, м'] = final.apply(
    lambda x: 
    x['Length'] if x['Наклон']>=70
    else 0, axis=1)
final

    Номер скважины       Дата   Пласт  Наклон      Length  Длиина ГС, м
0              974 2018-07-28  Б19-22    3.00    5.830952      0.000000
1              974 2012-06-15      Ю1    4.25    5.830952      0.000000
2              974 2007-01-06  Б19-22    2.00    5.830952      0.000000
3              827 2019-05-13   А1(3)   12.00  786.623798      0.000000
4              827 2015-05-31      Ю1   88.70  786.623798    786.623798
..             ...        ...     ...     ...         ...           ...
557            101 2015-04-21      Ю1   90.00  288.849442    288.849442
558            101 2015-04-20      Ю1   91.00  288.849442    288.849442
559            101 2006-02-06      А2    8.20  288.849442      0.000000
560           1003 2017-06-26  Б19-22    2.00   56.603887      0.000000
561           1003 2008-05-31   А1(3)    1.65   56.603887      0.000000

[562 rows x 6 columns]

In [9]:
final=final.drop(['Наклон','Length'],axis=1)
final_number = final.groupby('Номер скважины').agg(
    {'Дата': lambda x: 
     x.tolist()}
)

final

    Номер скважины       Дата   Пласт  Длиина ГС, м
0              974 2018-07-28  Б19-22      0.000000
1              974 2012-06-15      Ю1      0.000000
2              974 2007-01-06  Б19-22      0.000000
3              827 2019-05-13   А1(3)      0.000000
4              827 2015-05-31      Ю1    786.623798
..             ...        ...     ...           ...
557            101 2015-04-21      Ю1    288.849442
558            101 2015-04-20      Ю1    288.849442
559            101 2006-02-06      А2      0.000000
560           1003 2017-06-26  Б19-22      0.000000
561           1003 2008-05-31   А1(3)      0.000000

[562 rows x 4 columns]

In [10]:
#обработка и чтение гтм
grp_1=pd.read_excel('гтм1.xlsx',header=[1], index_col=[1])
grp_1.reset_index(drop=True)
grp_1.reset_index(inplace=True)
grp_1['Скважина'] = grp_1.apply(
    lambda x: 
    str(x['Скважина']), axis=1)
grp_1=grp_1[grp_1['Скважина'].isin(my_wells_no_repeat)].reset_index(drop=True)
grp_1=grp_1.drop(['С начала мероприятия','С начала года','За текущий месяц','P нас','В-ть жидк.','Коб'],axis=1)
grp_1=grp_1.drop(['Пл-ть нефти','Факт','План','Комментарий','Dэк','Пласт','Страница'],axis=1)
grp_1=grp_1.drop(['Unnamed: 11','Hэфф','Pпл.2','H дин.1','Pзаб.2','Состояние.1','Кпр'],axis=1)
grp_1=grp_1.drop(['Скин-фактор.1','Интервалы перф..1','Насос.1','Напор.1','Производительность.1'],axis=1)
grp_1=grp_1.drop(['%.2','Qж.2','Qн.2','Hспуск.1','Кач.1','Част.1','Lхода.1','Метод.1','Скин-фактор','Pзаб.1','Метод','Re'],axis=1)
grp_1=grp_1.drop(['Pпл.1','%.1','Qж.1','Qн.1','Окончание','Начало','Производительность','Насос'],axis=1)
grp_1=grp_1.drop(['Интервалы перф.','Hвд','Состояние','Pзаб','Pпл','H дин','Lхода','Напор'],axis=1)
grp_1=grp_1.drop(['Месторождение','Unnamed: 0','Куст','Част','Кач','Hспуск','Qн','Qж','%'],axis=1)
grp_1

,Скважина,Тип,Объект разработки до ГТМ,gtmTypeFullName,Краткое описание мероприятий,ВНР,Начало.1,Окончание.1,ВНР.1
0,1003,РИР,NaN,NaN,NaN,NaN,1974-11-21,1974-11-21,1974-11-21
1,1003,ГРП,Ю1,NaN,КР7-2 Проведение ГРП,NaN,1995-09-01,1995-09-01,1995-09-01
2,1003,РИР,NaN,NaN,NaN,NaN,2006-11-07,2006-11-07,2006-11-07
3,1003,РИР,NaN,NaN,NaN,NaN,2006-11-09,2006-11-09,2006-11-09
4,1003,РИР,NaN,NaN,NaN,NaN,2006-12-18,2006-12-18,2006-12-18
...,...,...,...,...,...,...,...,...,...
3348,974,См_ПО,Б19-22,NaN,ТР5-1 Смена ЭЦН,NaN,2020-02-18,2020-02-28,2020-02-28
3349,974,Запуск без ремонта,Б19-22,NaN,Запуск в работу без,NaN,2020-08-27,2020-08-27,2020-08-27
3350,974,Запуск без ремонта,Б19-22,NaN,Запуск в работу без,NaN,2020-09-02,2020-09-28,2020-09-28
3351,974,Запуск без ремонта,Б19-22,NaN,Запуск в работу без,NaN,2020-10-02,2020-10-27,2020-10-27
3352,974,См_ПО,Б19-22,NaN,ТР5-1 Смена ЭЦН,NaN,2021-01-08,2021-01-11,2021-01-11

In [11]:
grp_1=grp_1[grp_1['Скважина'].isin(my_wells_no_repeat)].reset_index(drop=True)
grp_1

,Скважина,Тип,Объект разработки до ГТМ,gtmTypeFullName,Краткое описание мероприятий,ВНР,Начало.1,Окончание.1,ВНР.1
0,1003,РИР,NaN,NaN,NaN,NaN,1974-11-21,1974-11-21,1974-11-21
1,1003,ГРП,Ю1,NaN,КР7-2 Проведение ГРП,NaN,1995-09-01,1995-09-01,1995-09-01
2,1003,РИР,NaN,NaN,NaN,NaN,2006-11-07,2006-11-07,2006-11-07
3,1003,РИР,NaN,NaN,NaN,NaN,2006-11-09,2006-11-09,2006-11-09
4,1003,РИР,NaN,NaN,NaN,NaN,2006-12-18,2006-12-18,2006-12-18
...,...,...,...,...,...,...,...,...,...
3348,974,См_ПО,Б19-22,NaN,ТР5-1 Смена ЭЦН,NaN,2020-02-18,2020-02-28,2020-02-28
3349,974,Запуск без ремонта,Б19-22,NaN,Запуск в работу без,NaN,2020-08-27,2020-08-27,2020-08-27
3350,974,Запуск без ремонта,Б19-22,NaN,Запуск в работу без,NaN,2020-09-02,2020-09-28,2020-09-28
3351,974,Запуск без ремонта,Б19-22,NaN,Запуск в работу без,NaN,2020-10-02,2020-10-27,2020-10-27
3352,974,См_ПО,Б19-22,NaN,ТР5-1 Смена ЭЦН,NaN,2021-01-08,2021-01-11,2021-01-11

In [12]:
#даты введения ГРП и ВНС на скважинах очень важно!!!!!!!
grp_3 = copy.deepcopy(grp_1)
grp_3=grp_1
grp_3['Дата ВНР после ГС \\ ГРП \\ЗБГС'] = grp_3.apply(
    lambda x: 
    x['Начало.1'] if 'КР7-2' in str(x['Краткое описание мероприятий'])
    else x['Начало.1'] if 'Ввод добывающих сква' in str(x['Краткое описание мероприятий'])
    else 'нет', axis=1)
grp_3['Тип ГТМ'] = grp_3.apply(
    lambda x: 
    'ГРП' if 'КР7-2' in str(x['Краткое описание мероприятий'])
    else 'ВНС' if 'Ввод добывающих сква' in str(x['Краткое описание мероприятий'])
    else 'нет', axis=1)
grp_3 = grp_3.drop(grp_1[grp_1['Дата ВНР после ГС \\ ГРП \\ЗБГС'] == 'нет'].index)
grp_3 = grp_3.groupby(by=['Скважина','Дата ВНР после ГС \ ГРП \ЗБГС']).agg(
    {'Тип ГТМ': lambda x: 
     x.tolist()[0]}
)
grp_3.reset_index(inplace=True)
vvv=grp_3['Скважина'].tolist()

grp_3['Номер скважины']=vvv
grp_3=grp_3.drop(['Скважина'],axis=1)
grp_3

    Дата ВНР после ГС \ ГРП \ЗБГС Тип ГТМ Номер скважины
0                      1995-09-01     ГРП           1003
1                      2008-05-23     ГРП           1003
2                      2017-05-24     ГРП           1003
3                      2006-02-06     ГРП            101
4                      2015-04-26     ГРП            101
..                            ...     ...            ...
379                    1995-11-01     ГРП            974
380                    2006-12-19     ГРП            974
381                    2012-04-29     ГРП            974
382                    2012-07-02     ГРП            974
383                    2018-06-26     ГРП            974

[384 rows x 3 columns]

In [13]:
grp_2 = copy.deepcopy(grp_1)
grp_2['ГРП'] = grp_2.apply(
    lambda x: 
    'грп' if 'КР7-2' in str(x['Краткое описание мероприятий'])
    else 'вдс' if 'Ввод добывающих сква' in str(x['Краткое описание мероприятий'])
    else 'нет', axis=1)
grp_2 = grp_2.drop(grp_2[grp_2['ГРП'] == 'нет'].index)
grp_2

,Скважина,Тип,Объект разработки до ГТМ,gtmTypeFullName,Краткое описание мероприятий,ВНР,Начало.1,Окончание.1,ВНР.1,Дата ВНР после ГС \ ГРП \ЗБГС,Тип ГТМ,ГРП
1,1003,ГРП,Ю1,NaN,КР7-2 Проведение ГРП,NaN,1995-09-01,1995-09-01,1995-09-01,1995-09-01 00:00:00,ГРП,грп
9,1003,ГРП,А2,NaN,КР7-2 Проведение ГРП,NaN,2008-05-23,2008-06-04,2008-06-04,2008-05-23 00:00:00,ГРП,грп
22,1003,ГРП,Б19-22,NaN,КР7-2 Проведение ГРП,NaN,2017-05-24,2017-07-06,2017-07-06,2017-05-24 00:00:00,ГРП,грп
36,101,ГРП,А2,NaN,КР7-2 Проведение ГРП,NaN,2006-02-06,2006-02-06,2006-02-06,2006-02-06 00:00:00,ГРП,грп
47,101,ГРП,Ю1,NaN,КР7-2 Проведение МГР,NaN,2015-04-26,2015-04-26,2015-04-26,2015-04-26 00:00:00,ГРП,грп
...,...,...,...,...,...,...,...,...,...,...,...,...
3298,974,ГРП,Ю1,NaN,КР7-2 Проведение ГРП,NaN,1995-11-01,1995-11-01,1995-11-01,1995-11-01 00:00:00,ГРП,грп
3307,974,ГРП,Ю1,NaN,КР7-2 Проведение ГРП,NaN,2006-12-19,2007-01-16,2007-01-16,2006-12-19 00:00:00,ГРП,грп
3328,974,ГРП,Б19-22,NaN,КР7-2 Проведение ГРП,NaN,2012-04-29,2012-06-20,2012-06-20,2012-04-29 00:00:00,ГРП,грп
3329,974,ГРП,Ю1,NaN,КР7-2 Проведение ГРП,NaN,2012-07-02,2012-07-02,2012-07-02,2012-07-02 00:00:00,ГРП,грп
3343,974,ГРП,Б19-22,NaN,КР7-2 Проведение ГРП,NaN,2018-06-26,2018-08-05,2018-08-05,2018-06-26 00:00:00,ГРП,грп

In [14]:
grp_2 = grp_2.groupby('Скважина').agg(
    {'ГРП': lambda x: 
     x.tolist()}
)
grp_2.reset_index(inplace=True)
grp_2

    Скважина                        ГРП
0       1003            [грп, грп, грп]
1        101            [грп, грп, грп]
2       1028                      [грп]
3       1060                 [грп, вдс]
4       1119            [грп, грп, грп]
..       ...                        ...
124      821       [вдс, грп, грп, грп]
125      822                      [вдс]
126      824                 [грп, вдс]
127      827  [грп, вдс, грп, грп, грп]
128      974  [грп, грп, грп, грп, грп]

[129 rows x 2 columns]

In [15]:
for i in grp_2['ГРП']:
    if 'вдс' in i:
        i.remove('вдс')
grp_2

    Скважина                        ГРП
0       1003            [грп, грп, грп]
1        101            [грп, грп, грп]
2       1028                      [грп]
3       1060                      [грп]
4       1119            [грп, грп, грп]
..       ...                        ...
124      821            [грп, грп, грп]
125      822                         []
126      824                      [грп]
127      827       [грп, грп, грп, грп]
128      974  [грп, грп, грп, грп, грп]

[129 rows x 2 columns]

In [16]:
new_1=grp_2['Скважина'].tolist()
grp_2['Номер скважины']=new_1
grp_2=grp_2.drop(['Скважина'],axis=1)
final = final.merge(grp_2, on='Номер скважины')
final

    Номер скважины       Дата   Пласт  Длиина ГС, м                        ГРП
0              974 2018-07-28  Б19-22      0.000000  [грп, грп, грп, грп, грп]
1              974 2012-06-15      Ю1      0.000000  [грп, грп, грп, грп, грп]
2              974 2007-01-06  Б19-22      0.000000  [грп, грп, грп, грп, грп]
3              827 2019-05-13   А1(3)      0.000000       [грп, грп, грп, грп]
4              827 2015-05-31      Ю1    786.623798       [грп, грп, грп, грп]
..             ...        ...     ...           ...                        ...
534            101 2015-04-21      Ю1    288.849442            [грп, грп, грп]
535            101 2015-04-20      Ю1    288.849442            [грп, грп, грп]
536            101 2006-02-06      А2      0.000000            [грп, грп, грп]
537           1003 2017-06-26  Б19-22      0.000000            [грп, грп, грп]
538           1003 2008-05-31   А1(3)      0.000000            [грп, грп, грп]

[539 rows x 5 columns]

In [17]:
final['Число стадий ГРП'] = final.apply(
    lambda x: 
    len(x['ГРП']) if len(x['ГРП'])>0
    else 0, axis=1)
final=final.drop(['ГРП'],axis=1)
#число стадий грп по фраклисту
final=final.drop(['Дата'],axis=1)
final_re = final.groupby(by=['Номер скважины']).agg(
    {'Число стадий ГРП': lambda x: 
     statistics.mean(x)}
)
final_re.reset_index(inplace=True)
final_re

    Номер скважины  Число стадий ГРП
0             1003                 3
1              101                 3
2             1028                 1
3             1060                 1
4             1119                 3
..             ...               ...
124            821                 3
125            822                 0
126            824                 1
127            827                 4
128            974                 5

[129 rows x 2 columns]

In [18]:
final_go = final.groupby(by=['Номер скважины']).agg(
    {'Длиина ГС, м': lambda x: 
     statistics.mean(x)}
)
final_go.reset_index(inplace=True)
final_go

    Номер скважины  Длиина ГС, м
0             1003      0.000000
1              101    173.309665
2             1028     61.648646
3             1060    614.642172
4             1119      0.000000
..             ...           ...
124            821    373.363094
125            822    478.806850
126            824    636.387461
127            827    629.299039
128            974      0.000000

[129 rows x 2 columns]

In [19]:
final_re = final_re.merge(final_go, on='Номер скважины')
final_re

    Номер скважины  Число стадий ГРП  Длиина ГС, м
0             1003                 3      0.000000
1              101                 3    173.309665
2             1028                 1     61.648646
3             1060                 1    614.642172
4             1119                 3      0.000000
..             ...               ...           ...
124            821                 3    373.363094
125            822                 0    478.806850
126            824                 1    636.387461
127            827                 4    629.299039
128            974                 5      0.000000

[129 rows x 3 columns]

In [20]:
final_re['Число стадий ГРП'] = final_re.apply(
    lambda x: 
    1 if x['Длиина ГС, м']==0 and x['Число стадий ГРП']>=1 
    else x['Число стадий ГРП'], axis=1)
final_re

    Номер скважины  Число стадий ГРП  Длиина ГС, м
0             1003                 1      0.000000
1              101                 3    173.309665
2             1028                 1     61.648646
3             1060                 1    614.642172
4             1119                 1      0.000000
..             ...               ...           ...
124            821                 3    373.363094
125            822                 0    478.806850
126            824                 1    636.387461
127            827                 4    629.299039
128            974                 1      0.000000

[129 rows x 3 columns]

In [21]:
final_re1=final_re
final_re1 = final_re1.drop(final_re1[final_re1['Длиина ГС, м'] == 0].index).reset_index(drop=True)
spisok=final_re1['Номер скважины'].tolist()
final_re1

   Номер скважины  Число стадий ГРП  Длиина ГС, м
0             101                 3    173.309665
1            1028                 1     61.648646
2            1060                 1    614.642172
3            1180                 9    310.601030
4            1182                 2    222.084669
5            1183                 4    259.434235
6            1185                 5    252.142857
7            1189                11     94.080169
8            1218                 6    301.144484
9            1302                 2    213.676515
10           1308                 4    147.271480
11           1319                 1    246.292509
12           1336                 1    492.293612
13           1483                 1    478.991649
14           1506                 1    574.373572
15           1550                 1    550.051816
16           1552                 0    606.906912
17           1554                 1    699.820691
18           1568                 1    519.665277
19           1670                 1    597.703940
20           1796                 1    682.760573
21           1970                 1    658.223366
22           1974                 1    648.526021
23           1976                 1    483.480093
24           1977                 1    721.773510
25           1978                 3    277.800288
26           2012                 1    756.679589
27           2131                 5    797.030128
28           2134                 1    689.232907
29           2136                 4    804.150483
30           2214                 1    712.613500
31           2220                 1    798.491703
32           2222                 1    804.330778
33           2296                 6    944.467045
34            235                 1    340.261664
35           2774                 2    367.153919
36           3544                 4    275.929266
37           3561                 5    739.282084
38           3562                 3    558.426360
39           3563                 1    589.428537
40           3564                 1    505.755870
41           3566                 4    558.950803
42           3567                 3    350.008571
43            407                 1    261.007663
44           4346                 3    394.843205
45           4732                 2    228.806993
46           5102                 8      0.447214
47           5132                 1    574.471061
48           5162                 2    574.301706
49           5163                 1    622.020096
50           5166                 2    656.196617
51           5176                 2    525.244705
52           5202                 4    256.039548
53           5240                 6    506.603335
54           5358                 1    651.659420
55            821                 3    373.363094
56            822                 0    478.806850
57            824                 1    636.387461
58            827                 4    629.299039

In [22]:
#берем число строк из фраклиста для скважины
final = final.groupby('Номер скважины').agg(
    {'Число стадий ГРП': lambda x: 
     x.tolist()}
)

final['Количество'] = final.apply(
    lambda x: 
    len(x['Число стадий ГРП']) 
    ,axis=1)
final.reset_index(inplace=True)
final=final[final['Номер скважины'].isin(spisok)].reset_index(drop=True)
final=final.drop(['Число стадий ГРП'],axis=1)
final

   Номер скважины  Количество
0             101           5
1            1028           6
2            1060           7
3            1180           6
4            1182           5
5            1183           7
6            1185           7
7            1189           8
8            1218           5
9            1302           7
10           1308           6
11           1319           1
12           1336           5
13           1483           5
14           1506           8
15           1550           7
16           1552           7
17           1554          10
18           1568           3
19           1670           6
20           1796           8
21           1970           6
22           1974           6
23           1976           3
24           1977           6
25           1978           4
26           2012          10
27           2131          11
28           2134          10
29           2136          11
30           2214           9
31           2220           8
32           2222          11
33           2296          12
34            235           6
35           2774           5
36           3544          10
37           3561           9
38           3562          10
39           3563           6
40           3564           4
41           3566           7
42           3567          16
43            407           5
44           4346           8
45           4732           5
46           5102           5
47           5132           9
48           5162           7
49           5163           5
50           5166           9
51           5176           5
52           5202           6
53           5240           7
54           5358           6
55            821           7
56            822           2
57            824           6
58            827           5

In [23]:
final_re2 = final_re.merge(final, on='Номер скважины')
final_re2=final_re2.drop(['Число стадий ГРП'],axis=1)
cv=final_re2['Количество'].tolist()
final_re2['Число стадий ГРП']=cv
final_re2=final_re2.drop(['Количество'],axis=1)
final_re2

   Номер скважины  Длиина ГС, м  Число стадий ГРП
0             101    173.309665                 5
1            1028     61.648646                 6
2            1060    614.642172                 7
3            1180    310.601030                 6
4            1182    222.084669                 5
5            1183    259.434235                 7
6            1185    252.142857                 7
7            1189     94.080169                 8
8            1218    301.144484                 5
9            1302    213.676515                 7
10           1308    147.271480                 6
11           1319    246.292509                 1
12           1336    492.293612                 5
13           1483    478.991649                 5
14           1506    574.373572                 8
15           1550    550.051816                 7
16           1552    606.906912                 7
17           1554    699.820691                10
18           1568    519.665277                 3
19           1670    597.703940                 6
20           1796    682.760573                 8
21           1970    658.223366                 6
22           1974    648.526021                 6
23           1976    483.480093                 3
24           1977    721.773510                 6
25           1978    277.800288                 4
26           2012    756.679589                10
27           2131    797.030128                11
28           2134    689.232907                10
29           2136    804.150483                11
30           2214    712.613500                 9
31           2220    798.491703                 8
32           2222    804.330778                11
33           2296    944.467045                12
34            235    340.261664                 6
35           2774    367.153919                 5
36           3544    275.929266                10
37           3561    739.282084                 9
38           3562    558.426360                10
39           3563    589.428537                 6
40           3564    505.755870                 4
41           3566    558.950803                 7
42           3567    350.008571                16
43            407    261.007663                 5
44           4346    394.843205                 8
45           4732    228.806993                 5
46           5102      0.447214                 5
47           5132    574.471061                 9
48           5162    574.301706                 7
49           5163    622.020096                 5
50           5166    656.196617                 9
51           5176    525.244705                 5
52           5202    256.039548                 6
53           5240    506.603335                 7
54           5358    651.659420                 6
55            821    373.363094                 7
56            822    478.806850                 2
57            824    636.387461                 6
58            827    629.299039                 5

In [24]:
final_re=final_re[~final_re['Номер скважины'].isin(spisok)].reset_index(drop=True)
final_re

   Номер скважины  Число стадий ГРП  Длиина ГС, м
0            1003                 1           0.0
1            1119                 1           0.0
2            1138                 1           0.0
3            1150                 1           0.0
4            1157                 1           0.0
..            ...               ...           ...
65           5316                 1           0.0
66           5319                 1           0.0
67            546                 1           0.0
68            597                 1           0.0
69            974                 1           0.0

[70 rows x 3 columns]

In [25]:
new_file=pd.concat([final_re,final_re2])
new_file

   Номер скважины  Число стадий ГРП  Длиина ГС, м
0            1003                 1      0.000000
1            1119                 1      0.000000
2            1138                 1      0.000000
3            1150                 1      0.000000
4            1157                 1      0.000000
..            ...               ...           ...
54           5358                 6    651.659420
55            821                 7    373.363094
56            822                 2    478.806850
57            824                 6    636.387461
58            827                 5    629.299039

[129 rows x 3 columns]

In [26]:
grp = grp.groupby('Номер скважины').agg(
    {'Пласт': lambda x: 
     x.tolist()[0]}
)
grp.reset_index(inplace=True)
grp

    Номер скважины     Пласт
0             1003    Б19-22
1              101        А2
2            1022Л        Б8
3             1028        Ю1
4             1060        Ю1
..             ...       ...
132            821  Ю1,Ю1,Ю1
133            822        Ю1
134            824        Ю1
135            827     А1(3)
136            974    Б19-22

[137 rows x 2 columns]

In [27]:
new_file = new_file.merge(grp, on='Номер скважины')
new_file

    Номер скважины  Число стадий ГРП  Длиина ГС, м     Пласт
0             1003                 1      0.000000    Б19-22
1             1119                 1      0.000000        А2
2             1138                 1      0.000000        Ю1
3             1150                 1      0.000000     А1(3)
4             1157                 1      0.000000        Ю1
..             ...               ...           ...       ...
124           5358                 6    651.659420        Ю1
125            821                 7    373.363094  Ю1,Ю1,Ю1
126            822                 2    478.806850        Ю1
127            824                 6    636.387461        Ю1
128            827                 5    629.299039     А1(3)

[129 rows x 4 columns]

In [28]:
new_file['Полудлина трещины, м'] = new_file.apply(
    lambda x: 
    100, axis=1)
new_file['Ширина трещины, мм'] = new_file.apply(
    lambda x: 
    4, axis=1)
new_file['Проницаемость проппанта, Д'] = new_file.apply(
    lambda x: 
    100, axis=1)
new_file

,Номер скважины,Число стадий ГРП,"Длиина ГС, м",Пласт,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д"
0,1003,1,0.000000,Б19-22,100,4,100
1,1119,1,0.000000,А2,100,4,100
2,1138,1,0.000000,Ю1,100,4,100
3,1150,1,0.000000,А1(3),100,4,100
4,1157,1,0.000000,Ю1,100,4,100
...,...,...,...,...,...,...,...
124,5358,6,651.659420,Ю1,100,4,100
125,821,7,373.363094,"Ю1,Ю1,Ю1",100,4,100
126,822,2,478.806850,Ю1,100,4,100
127,824,6,636.387461,Ю1,100,4,100
128,827,5,629.299039,А1(3),100,4,100

In [29]:
#объединение грп и нью файла по скважинам
sotired = grp_3.merge(new_file, on='Номер скважины')
sotired

,Дата ВНР после ГС \ ГРП \ЗБГС,Тип ГТМ,Номер скважины,Число стадий ГРП,"Длиина ГС, м",Пласт,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д"
0,1995-09-01,ГРП,1003,1,0.000000,Б19-22,100,4,100
1,2008-05-23,ГРП,1003,1,0.000000,Б19-22,100,4,100
2,2017-05-24,ГРП,1003,1,0.000000,Б19-22,100,4,100
3,2006-02-06,ГРП,101,5,173.309665,А2,100,4,100
4,2015-04-26,ГРП,101,5,173.309665,А2,100,4,100
...,...,...,...,...,...,...,...,...,...
379,1995-11-01,ГРП,974,1,0.000000,Б19-22,100,4,100
380,2006-12-19,ГРП,974,1,0.000000,Б19-22,100,4,100
381,2012-04-29,ГРП,974,1,0.000000,Б19-22,100,4,100
382,2012-07-02,ГРП,974,1,0.000000,Б19-22,100,4,100
383,2018-06-26,ГРП,974,1,0.000000,Б19-22,100,4,100

In [30]:
#добавляем последнй столбец
sotired['ГС/ННС'] = sotired.apply(
    lambda x: 
    'ННС' if x['Длиина ГС, м']==0
    else 'ГС', axis=1)
sotired

,Дата ВНР после ГС \ ГРП \ЗБГС,Тип ГТМ,Номер скважины,Число стадий ГРП,"Длиина ГС, м",Пласт,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д",ГС/ННС
0,1995-09-01,ГРП,1003,1,0.000000,Б19-22,100,4,100,ННС
1,2008-05-23,ГРП,1003,1,0.000000,Б19-22,100,4,100,ННС
2,2017-05-24,ГРП,1003,1,0.000000,Б19-22,100,4,100,ННС
3,2006-02-06,ГРП,101,5,173.309665,А2,100,4,100,ГС
4,2015-04-26,ГРП,101,5,173.309665,А2,100,4,100,ГС
...,...,...,...,...,...,...,...,...,...,...
379,1995-11-01,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС
380,2006-12-19,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС
381,2012-04-29,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС
382,2012-07-02,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС
383,2018-06-26,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС

In [31]:
#редактируем его в зависимости от наличия грп
sotired['ГС/ННС'] = sotired.apply(
    lambda x: 
    str(x['ГС/ННС'])+'+ГРП' if str(x['Тип ГТМ'])=='ГРП'
    else x['ГС/ННС'], axis=1)
sotired

,Дата ВНР после ГС \ ГРП \ЗБГС,Тип ГТМ,Номер скважины,Число стадий ГРП,"Длиина ГС, м",Пласт,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д",ГС/ННС
0,1995-09-01,ГРП,1003,1,0.000000,Б19-22,100,4,100,ННС+ГРП
1,2008-05-23,ГРП,1003,1,0.000000,Б19-22,100,4,100,ННС+ГРП
2,2017-05-24,ГРП,1003,1,0.000000,Б19-22,100,4,100,ННС+ГРП
3,2006-02-06,ГРП,101,5,173.309665,А2,100,4,100,ГС+ГРП
4,2015-04-26,ГРП,101,5,173.309665,А2,100,4,100,ГС+ГРП
...,...,...,...,...,...,...,...,...,...,...
379,1995-11-01,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС+ГРП
380,2006-12-19,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС+ГРП
381,2012-04-29,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС+ГРП
382,2012-07-02,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС+ГРП
383,2018-06-26,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС+ГРП

In [32]:
#перемещаем столбцы в нужном порядке
r = sotired.pop('Дата ВНР после ГС \ ГРП \ЗБГС')
sotired1 = pd.concat([sotired, r], 1)
#перемещаем столбцы в нужном порядке
q = sotired1.pop('ГС/ННС')
sotired2 = pd.concat([sotired1, q], 1)
#перемещаем столбцы в нужном порядке
z = sotired2.pop('Тип ГТМ')
sotired3 = pd.concat([sotired2, z], 1)
#перемещаем столбцы в нужном порядке
d = sotired3.pop('Пласт')
sotired4 = pd.concat([sotired3, d], 1)
i=sotired4['Номер скважины'].tolist()
sotired4['Скважина №']=i
sotired4=sotired4.drop(['Номер скважины'],axis=1)
sotired_final = sotired4.reindex(columns=['Скважина №', 'Длиина ГС, м', 'Число стадий ГРП','Полудлина трещины, м','Ширина трещины, мм','Проницаемость проппанта, Д','Дата ВНР после ГС \ ГРП \ЗБГС','ГС/ННС','Тип ГТМ','Пласт'])
sotired_final

C:\Users\USER\miniconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\USER\miniconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only

C:\Users\USER\miniconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  if __name__ == '__main__':
C:\Users\USER\miniconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  if sys.path[0] == '':

,Скважина №,"Длиина ГС, м",Число стадий ГРП,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д",Дата ВНР после ГС \ ГРП \ЗБГС,ГС/ННС,Тип ГТМ,Пласт
0,1003,0.000000,1,100,4,100,1995-09-01,ННС+ГРП,ГРП,Б19-22
1,1003,0.000000,1,100,4,100,2008-05-23,ННС+ГРП,ГРП,Б19-22
2,1003,0.000000,1,100,4,100,2017-05-24,ННС+ГРП,ГРП,Б19-22
3,101,173.309665,5,100,4,100,2006-02-06,ГС+ГРП,ГРП,А2
4,101,173.309665,5,100,4,100,2015-04-26,ГС+ГРП,ГРП,А2
...,...,...,...,...,...,...,...,...,...,...
379,974,0.000000,1,100,4,100,1995-11-01,ННС+ГРП,ГРП,Б19-22
380,974,0.000000,1,100,4,100,2006-12-19,ННС+ГРП,ГРП,Б19-22
381,974,0.000000,1,100,4,100,2012-04-29,ННС+ГРП,ГРП,Б19-22
382,974,0.000000,1,100,4,100,2012-07-02,ННС+ГРП,ГРП,Б19-22
383,974,0.000000,1,100,4,100,2018-06-26,ННС+ГРП,ГРП,Б19-22

In [33]:
sotired_final['Число стадий ГРП'] = sotired.apply(
    lambda x: 
    0 if str(x['Тип ГТМ'])=='ВНС'
    else x['Число стадий ГРП'], axis=1)
sotired_final

,Скважина №,"Длиина ГС, м",Число стадий ГРП,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д",Дата ВНР после ГС \ ГРП \ЗБГС,ГС/ННС,Тип ГТМ,Пласт
0,1003,0.000000,1,100,4,100,1995-09-01,ННС+ГРП,ГРП,Б19-22
1,1003,0.000000,1,100,4,100,2008-05-23,ННС+ГРП,ГРП,Б19-22
2,1003,0.000000,1,100,4,100,2017-05-24,ННС+ГРП,ГРП,Б19-22
3,101,173.309665,5,100,4,100,2006-02-06,ГС+ГРП,ГРП,А2
4,101,173.309665,5,100,4,100,2015-04-26,ГС+ГРП,ГРП,А2
...,...,...,...,...,...,...,...,...,...,...
379,974,0.000000,1,100,4,100,1995-11-01,ННС+ГРП,ГРП,Б19-22
380,974,0.000000,1,100,4,100,2006-12-19,ННС+ГРП,ГРП,Б19-22
381,974,0.000000,1,100,4,100,2012-04-29,ННС+ГРП,ГРП,Б19-22
382,974,0.000000,1,100,4,100,2012-07-02,ННС+ГРП,ГРП,Б19-22
383,974,0.000000,1,100,4,100,2018-06-26,ННС+ГРП,ГРП,Б19-22

In [37]:
n=1
z=sotired_final['Пласт'].value_counts()[:n].index.tolist()
plast=str(z[0])
sotired_final = sotired_final.drop(sotired_final[sotired_final['Пласт'] != plast].index).reset_index(drop=True)
zzz = sotired_final['Длиина ГС, м'].tolist()
sotired_final['Длина ГС, м'] = zzz

sotired_final = sotired_final.drop(['Длиина ГС, м'], axis=1)
sotired_final = sotired_final.reindex(
columns=['Скважина №', 'Длина ГС, м', 'Число стадий ГРП', 'Полудлина трещины, м', 'Ширина трещины, мм',
                     'Проницаемость проппанта, Д', 'Дата ВНР после ГС \ ГРП \ЗБГС', 'ГС/ННС', 'Тип ГТМ', 'Пласт'])
sotired_final

,Скважина №,"Длина ГС, м",Число стадий ГРП,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д",Дата ВНР после ГС \ ГРП \ЗБГС,ГС/ННС,Тип ГТМ,Пласт
0,1028,61.648646,6,100,4,100,2019-04-05,ГС+ГРП,ГРП,Ю1
1,1060,614.642172,0,100,4,100,2017-05-08,ГС,ВНС,Ю1
2,1060,614.642172,7,100,4,100,2017-05-17,ГС+ГРП,ГРП,Ю1
3,1138,0.000000,1,100,4,100,2001-12-30,ННС+ГРП,ГРП,Ю1
4,1138,0.000000,1,100,4,100,2006-05-02,ННС+ГРП,ГРП,Ю1
...,...,...,...,...,...,...,...,...,...,...
199,5358,651.659420,0,100,4,100,2015-06-10,ГС,ВНС,Ю1
200,5358,651.659420,6,100,4,100,2015-06-20,ГС+ГРП,ГРП,Ю1
201,822,478.806850,0,100,4,100,2014-03-14,ГС,ВНС,Ю1
202,824,636.387461,0,100,4,100,2015-03-18,ГС,ВНС,Ю1
203,824,636.387461,6,100,4,100,2015-03-31,ГС+ГРП,ГРП,Ю1